*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    /* <!-- Grid Container Propperties are below:
     1.gap
     2.grid-template-column
     3.grid-template-row
     4.justify-content
     5.align-content
     6.align-items   -->


    <!-- Grid children property are below
     1.Justify-self:
     2.align-self:
     3.grid-column:
     4.grid-row:
     5.grid-area: --> */

.container {
    /* height: 600px;
    width: 800px; */
    border: 3px solid red;
    margin: 30px 20px;
    display: grid;
    /* gap: 10px; (for row and column both */
    row-gap: 20px;
    column-gap: 30px;
    /* grid-template-columns: 100px 200px 300px; */
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    /* grid-template-columns: repeat(4,1fr); */
    /* grid-template-columns: repeat(auto-fill,200px); */
    /* grid-template-columns: 200px 100px 150px ;
    grid-template-rows: 200px 80px; */
    /* don't indicate which rows its take auto rows 300px */
    /* grid-auto-rows: 300px; */

    /* grid-template-area er maddhome column and row banano jai */
    grid-template-areas: "hdr hdr hdr hdr"
     "sbr main main main"
     "sbr main main"
     "ftr ftr ftr ftr";
                        





    /* justify-content: indicates the x-axis */
    /* justify-content: end; */
    /* justify-content: center; */
    /* justify-content: space-around; */
    /* justify-content: space-between; */
    /* justify-content: space-evenly; */


    /* align content: indicates the  y-axis */
    /* align-content: center; */
    /* align-content: space-between; */


    /* align-items: indicates kore div k shdumatro oi dive er vitor items/content golu k start,end,center etc. kora jai */
    /* align-items: center; */
    /* align-items: end; */

}

.box {
    border: 2px solid forestgreen;
    padding: 12px;
}

#box-1 {
    background-color: blueviolet;

    /* (Justify-self: er maddome shumdumatro nirdisto oi imaginary box er vitor center,end,strech etc. kora jai) */
    /* justify-self: start; */
    /* justify-self: stretch; */
    /* justify-self: end; */
    /* justify-self: center; */

    /* align-self: start; */

    /* grid-column-start: 1; */
    /* grid-column-end: 3; */
    /* grid-column: 1/3; */
    /* grid-column: 1/span 2; */
    /* grid-column: 1/-1; */


    /* grid-row: 1/3; */
    /* grid-row: 1/span 2; */

    /* grid row and column duitai ekshate korte gele grid-area use kore kora  jai */
    /* grid-area: row-start/column-start/row-end/column-end */
    /* grid-area: 1/1/3/3; */
}


#box-1 {
    background-color: brown;
    grid-area: hdr;
}